.question-container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.question-card {
  border: 3px solid #040f2f;
  border-radius: 10px;
  width: 550px;
  height: auto;
}

.header {
  background-color: #040f2f;
  color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 5px 15px;
}

.questions {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.questions button {
  width: 50%;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 600;
  transition: 0.3s ease-in-out all;
}

.questions button:hover {
  background-color: #f7b905;
  color: #fff;
}

.btns {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 25px;
  padding: 0 20px;
}

.btns button {
  padding: 10px;
  width: 150px;
  margin-top: 15px;
  border-radius: 17px;
  font-size: 18px;
  font-weight: 600;
  background-color: #fff9e2;
  transition: .3s ease;
}

.btns button:hover{
    font-size: 21px;
}

.selected {
  background-color: #f7b905;
  color: #fff;
  font-size: 22px;
}

.unselected {
  background-color: #fff9e2;
}
