.vscode
Day26_BurstDebugInformation_DoNotShip
GameDino.app
Library
Logs
obj
UserSettings
Assembly-CSharp.csproj
Day26.sln
Assets/TextMesh Pro
Assets/Audio.meta
Assets/Prefab.meta
Assets/Scenes.meta
Assets/Sprites.meta
Assets/TextMesh Pro.meta
