.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 85px;
    padding: 20px;
    background-color: #918FA7;
    color: #fff;
    font-size: 2.5rem;
}

.navbar .content {
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.navbar .content a{
    text-decoration: none;
    color: #fff;
    transition: all .3s ease;
}

.navbar .content a:hover{
    font-size: 3rem;
    color: #FED1B2;
}