* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: grid;
  min-height: 100vh;
  place-content: center;
  background-color: #0c1f32;
}

.bg {
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.square {
  width: 300px;
  height: 300px;
  background-color: red;
  position: absolute;
}

.square1 {
  width: 250px;
  height: 250px;
  background: linear-gradient(to left, #3991e8, #9c65ed);
  right: 100px;
  top: 100px;
  animation: t1 8s ease infinite;
}

.square2 {
  width: 200px;
  height: 200px;
  background: linear-gradient(to left, #65edc4, #65ed65);
  top: 350px;
  animation: t2 9s ease infinite;
}

.square3 {
  width: 300px;
  height: 300px;
  background: linear-gradient(to left, #ea6a2a, #ea2a2a);
  left: 200px;
  animation: t3 7s ease infinite;
}

.card {
  width: 640px;
  height: 350px;
  overflow: hidden;
  position: relative;
  top: 50%;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  transform: translate(-50%, -50%);
  border-radius: 15px;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
}

.card .front,
.card .back {
  height: 100%;
  width: 100%;
  backface-visibility: hidden;
  overflow: hidden;
  transition: .5s;
}

.card .front {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.card:hover .front {
  transform: perspective(700px) rotateX(180deg);
}

.card .back {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 24px;
  top: 0;
  left: 0;
  transform: perspective(700px) rotateX(-180deg);
}

.card:hover .back {
  transform: perspective(700px) rotateX(0deg);
}

.card .back .profile_img,
.card .back .social {
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.card .back .profile_img {
  background-color: #0756a7;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
  color: #fff;
  align-items: center;
}

.card .back .profile_img img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 4px;
  margin-bottom: 15px;
}

.card .back .profile_img h1 {
  font-size: 2.1rem;
  font-weight: 600;
  margin-block: 8px;
}

.card .back .profile_img h2 {
  font-size: 1.6rem;
  font-weight: 500;
}

.card .back .social {
  align-items: flex-start;
  color: #fff;
}

.card .back .social .contact {
  font-size: 2.2rem;
  line-height: 32px;
  margin-block: 8px;
}

.card .back .social .contact i {
  font-size: 2.5rem;
  margin-right: 16px;
}

/* Animations */
@keyframes t1 {
  0% {
    transform: translateY(0px) rotate(45deg);
  }
  50% {
    transform: translateY(20px) rotate(45deg);
  }
  100% {
    transform: translateY(0px) rotate(45deg);
  }
}
@keyframes t2 {
  0% {
    transform: translateY(0px) rotate(75deg);
  }
  50% {
    transform: translateY(20px) rotate(75deg);
  }
  100% {
    transform: translateY(0px) rotate(75deg);
  }
}
@keyframes t3 {
  0% {
    transform: translateY(0px) rotate(25deg);
  }
  50% {
    transform: translateY(20px) rotate(25deg);
  }
  100% {
    transform: translateY(0px) rotate(25deg);
  }
}
