* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  background-image: url("https://imgs.search.brave.com/9DQwSUmliCM53_DIF1ViVGiJbb-MmeNBRIRXTFOlbGM/rs:fit:860:0:0/g:ce/aHR0cHM6Ly90NC5m/dGNkbi5uZXQvanBn/LzA1LzY1LzIzLzUz/LzM2MF9GXzU2NTIz/NTMzOV83WDBvZnpC/YzhObmlRdFJZaFh2/NmtrcDFvWkdlRVh3/Ui5qcGc");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text {
  position: relative;
  top: -70px;
  text-align: center;
}

.text h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.text h2 {
  font-size: 2.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
}

.btn {
  padding: 10px;
  font-size: 1.5rem;
  border-radius: 10px;
  box-shadow: 2px 5px 5px 2px rgba(0, 0, 0, .3);
  background-color: #ffa4c3;
  transition: .3s ease-in-out;
}

.yes:hover {
  background-color: #ff6e9e;
  color: #fff;
  font-size: 1.7rem;
}

.no {
  position: absolute;
}