* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: rgb(18, 69, 98);
  background: linear-gradient(
    135deg,
    rgba(18, 69, 98, 1) 0%,
    rgba(48, 107, 191, 1) 48%,
    rgba(22, 158, 255, 1) 100%
  );
  background-repeat: no-repeat;
}

.container {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.text {
  font-size: 3.5rem;
  color: #fff;
  line-height: 50px;
  font-weight: 500;
}

.secondary-text {
  color: #9ae9ff;
}

.pswd {
  position: relative;
  margin-top: 30px;
  width: 50%;
  font-size: 2rem;
}

.pswd input {
  padding: 25px 15px;
  position: absolute;
  width: 100%;
  border-radius: 5px;
  font-size: 2rem;
}

.pswd i {
  position: absolute;
  left: 95%;
  top: 27px;
  cursor: pointer;
}

.pswd input::placeholder {
  font-size: 2rem;
  color: #535353;
}

.footer {
    margin-top: 100px;
    display: flex;
    width: 70%;
    justify-content: center;
    gap: 50px;
}

.footer .length {
    font-size: 2rem;
    color: #fff;
    font-weight: 600;
}

.footer .length select{
    font-size: 2rem;
    padding: 10px 15px;
    width: 130px;
    border-radius: 7px;
}

.btn {
    padding: 20px 25px;
    font-size: 2rem;
    border-radius: 7px;
    background-color: #9ae9ff;
    transition: all .2s ease-in-out;
}

.btn:hover {
    font-size: 2.2rem;
    background-color: #299fb7;
    color: #fff;
}

/* Media queries */
@media screen and (max-width: 600px) {
  .pswd {
    width: 120%;
  }

  .pswd i {
    left: 92%;
  }
}

@media screen and (max-width: 950px) {
  .pswd {
    width: 125%;
  }
}

@media screen and (max-width: 1150px) {
  .pswd {
    width: 100%;
  }
}
