html,
body,
main {
  height: 100%;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("https://t3.ftcdn.net/jpg/03/95/00/10/360_F_395001009_kIG3PdUaFiujv6t0Rd0tdjfEghMW2Hrc.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

h1 {
  margin-bottom: 90px;
  color: #f2f2f2;
}

.roulette-container {
  position: relative;
}

.roulette-container #selector {
  position: absolute;
  top: -20px;
  left: 50%;
  display: inline-block;
  width: 0%;
  height: 0%;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-top: 50px solid #f2f2f2;
  z-index: 1;
  transform: translateX(-50%);
}

#roulette {
  background: #fff;
  width: 400px;
  height: 400px;
  position: relative;
  font-size: 14px;
  overflow: hidden;
  border-radius: 100%;
  transition-property: transform;
  transform: rotate(0deg);
}

#roulette .roulette-section {
  position: absolute;
  overflow: hidden;
  top: 0;
  right: 0;
  width: 50%;
  height: 50%;
  transform-origin: 0% 100%;
}

#roulette .roulette-section .roulette-section-container {
  position: absolute;
  left: -100%;
  width: 200%;
  height: 200%;
  text-align: center;
  padding-top: 60px;
  transform: skewY(60deg) rotate(15deg);
}

#roulette .roulette-section .roulette-section-container p {
  margin-top: 30px;
  transform: rotate(90deg);
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn {
  padding: 20px 45px;
  border-radius: 15px;
  border: 0;
  font-size: 18px;
  background-color: #c387ff;
  color: #fff;
  transition: all 0.2s ease-in-out;
}

.btn:hover {
  background-color: #ef87ff;
  font-size: 20px;
}

[contenteditable] {
  outline: 0px solid transparent;
}
