* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle {
  border: 12px solid #0b4462;
  width: 550px;
  height: 550px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

[contenteditable] {
  outline: 0px solid transparent;
}

li {
  list-style: none;
  overflow: hidden;
}