* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background: rgb(18, 69, 98);
  background: linear-gradient(
    187deg,
    rgba(18, 69, 98, 1) 0%,
    rgba(28, 104, 162, 1) 48%,
    rgba(0, 212, 255, 1) 100%
  );
}

.memory-game {
  width: 640px;
  height: 640px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  perspective: 1000px;
}

.memory-card {
  width: calc(25% - 10px);
  height: calc(33.333% - 10px);
  margin: 5px;
  position: relative;
  transform: scale(1);
  transform-style: preserve-3d;
  transition: transform 0.5s;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
}

.memory-card:active {
  transform: scale(0.97);
  transition: transform 0.2s;
}

.memory-card.flip {
  transform: rotateY(180deg);
}

.front-face,
.back-face {
  width: 100%;
  height: 100%;
  padding: 20px;
  position: absolute;
  border-radius: 5px;
  background: rgba(64, 123, 171, 0.5);
  backface-visibility: hidden;
}

.front-face {
  transform: rotateY(180deg);
}

img {
    width: 50px;
    height: 50px;

}